fastapi
uvicorn
langchain
langchain-groq
langchain-community
langchain-text-splitters
langgraph
fastembed
psycopg2-binary
sqlalchemy
pgvector
pypdf
python-dotenv
python-multipart
beautifulsoup4
requests